einops==0.8.0
flax==0.8.1
jax==0.4.26
jaxlib==0.4.26+cuda12.cudnn89
matplotlib==3.8.2
moviepy==1.0.3
numpy==1.26.4
opencv_python==4.9.0.80
optax==0.2.2
orbax-checkpoint==0.5.3
paddleocr==2.7.5
paddlepaddle_gpu==2.6.1.post120
pandas==2.2.2
Pillow==10.3.0
scipy==1.13.1
tensorboardX==2.6.2.2
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
ultralytics==8.1.24
wandb==0.16.4
